---
import AdminLayout from '../layouts/adminLayout.astro';
---

<AdminLayout title="Dashboard | Tailor App">
    <h1>Customer Overview</h1>
    <p>Welcome to the tailoring management dashboard.</p>
    
    </AdminLayout>